.swipe-container {
  position: relative;
  align-self: stretch;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  touch-action: pan-y;
  z-index: 1;
}

.swipe-card {
    max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  aspect-ratio: 2 / 3;
  cursor: grab;
  transform-origin: center bottom;
  z-index: 1;

  &:active {
    cursor: grabbing;
  }
}

.peek-card {
  position: absolute;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  filter: brightness(0.7);
  z-index: 0;
}