@font-face {
  font-family: 'CloisterBlack';
  src: url('./assets/fonts/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'CloisterBlack';
  font-size: 24px;
  color: rgb(255, 255, 255);  
  letter-spacing: -0.04em;
  font-weight: 500;
}

html, body {
  overflow: hidden;
  touch-action: none;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  margin: 4px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  font: inherit;
  color: purple;
  line-height: normal;
  appearance: none;
}

p {
  margin: 0;
}