@font-face {
  font-family: 'CloisterBlack';
  src: url('./assets/fonts/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'CloisterBlack';
  font-size: 24px;
  color: rgb(255, 255, 255);  
  letter-spacing: -0.02em;
  font-weight: 500;
}

html, body {
  overflow: hidden;
  touch-action: none;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  margin: 4px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  font: inherit;
  color: purple;
  line-height: normal;
  appearance: none;
}

p {
  margin: 0;
}

@keyframes white-pulsating-glow {
    0%, 100% { text-shadow: 0 0 4px rgba(255, 255, 255, 0.3); }
    50% { text-shadow: 0 0 12px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.5); }
}

@keyframes blue-pulsating-glow {
    0%, 100% { text-shadow: 0 0 4px rgba(100, 149, 255, 0.352); }
    50% { text-shadow: 0 0 12px rgba(24, 0, 208, 0.9), 0 0 20px rgba(7, 0, 150, 0.5); }
}

@keyframes white-border-pulsating-glow {
    0%, 100% { box-shadow: 0 0 4px rgba(255, 255, 255, 0.3); }
    50% { box-shadow: 0 0 12px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.5); }
}

@keyframes gold-pulsating-glow {
    0%, 100% { text-shadow: 0 0 4px rgba(255, 215, 0, 0.3); }
    50% { text-shadow: 0 0 12px rgba(255, 215, 0, 0.9), 0 0 20px rgba(255, 180, 0, 0.5), 0 0 40px rgba(255, 140, 0, 0.2); }
}

@keyframes gold-wave {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}

@keyframes purple-wave {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}